h1{
    text-align: center;
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin-top: 40px;
   
   
    
}

.grid-height{
    height: 50px;
}

.grid{
    border: solid gray 1px;
    margin: -1px;
    padding: -1px;
   
   
    
}

.grid-color{
    background-color: gray;
}